code {
  transition: box-shadow 0.3s ease;

  border-radius: 4px !important;
  background-color: #669dc222 !important;
  box-shadow: 0 0 4px #0002 !important;
}

code:hover {
  box-shadow: 0 0 6px #0003 !important;
}

pre code {
  position: relative;

  overflow: hidden;

  border-radius: 8px !important;
  background-color: transparent !important;
  box-shadow: 2px 2px 8px #b0f3 !important;
}

pre code:hover {
  box-shadow: 2px 2px 10px #b0f5 !important;
}

pre code::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: '';
  transition: opacity 0.3s ease;
  pointer-events: none;

  opacity: 0.067;
  background: linear-gradient(135deg, #f6d365 0%, #fd85ac 100%) !important;
}

pre code:hover::before {
  opacity: 0.2;
}

.highlight span.c,
.highlight span.c1 {
  color: #a6afbe;

  font-style: italic;
}

.highlight span.k {
  color: #c678dd;
}

.highlight span.n  {
  color: #ef596b;
}

.highlight span.nf {
  color: #61afef;
}

.highlight span.nc {
  color: #e5c07b;
}

.highlight span.na {
  color: #e478a5;
}

.highlight span.no {
  color: #e4a468;

  font-weight: bold;
}

.highlight span.s {
  color: #98c379;
}

.highlight span.m {
  color: #d19a66;
}

.highlight span.o {
  color: #56b6c2;
}

.highlight span.cs {
  color: #a2c256;

  font-style: italic;
}

.highlight span.gp {
  color: #6361ef;
}

.highlight span.go {
  color: #5c6370;
  background-color: #0002;
}

.highlight span.p {
  color: #468092
}
